body {
    color: #f7f7f7;
  }

.jumbotron {
    background-image: url('../img/austin-skyline-in-the-evening-1.jpeg');
    /* background-size: 100% 100%; */
    background-size: 100%;
    min-height: 300px;
    text-align: center;
  }